<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffieHellman" version="1.0.0" targetFramework="net40-Client" />
  <package id="DiffieHellman.local" version="1.0.0" targetFramework="net40-Client" />
  <package id="Sider" version="0.10.2.22156" targetFramework="net40-Client" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net40-Client" />
  <package id="Tamir.SharpSsh.dll" version="1.1.1.14" targetFramework="net40-Client" />
  <package id="Tamir.SSH.dll" version="1.1.1.15" targetFramework="net40-Client" />
</packages>